<div class="card">
  <div class="card-body"
      #scrollMe
      style="overflow: scroll; height: 535px;"
      [scrollTop]="scrollMe.scrollHeight">
      <div *ngIf="(comments?.length == 0)">
          Brak komentarzy
      </div>

      <ul *ngIf="(comments?.length > 0)" class="chat">
        <li *ngFor="let comment of comments">
          <div class="row-message">
            <div class="chat-body me-4">
              <div class="header">
                <small class="text-muted" *ngIf="announcement.user.id === comment.senderId">
                  <span class="organizer"> Orgaznizator wydarzenia </span>
                </small>
                <small class="text-muted">
                  <span class="senderName"> {{comment.senderUsername}} napisał/a: </span>
                </small>
                <small class="text-muted">
                  <span class="fa fa-clock-o"> {{comment.dateSend | timeago}}</span>
                </small>
              </div>
              <p>{{comment.content}}</p>
            </div>
            <div>
              <img class="rounded-circle mb-1 centre-object" src="{{'./assets/user.png'}}" alt="foto">
              <button *ngIf="user.id === announcement.user.id || user.id === comment.senderId" class="btn btn-sm btn-danger centre-object" (click)="deleteComment(comment)"><i class="fa fa-trash"></i></button>
            </div>
          </div>
        </li>
      </ul>
  </div>

  <div class="card-footer own-footer">
      <form #commentForm="ngForm" (submit)="sendComment()" autocomplete="off">
          <div class="input-group">
              <input
                  [disabled]="!(accountService.currentUser$ | async)"
                  type="text"
                  class="form-control input-sm me-2"
                  [placeholder]="(accountService.currentUser$ | async) ? InputText.add_comment : InputText.log_in_first"
                  name="messageContent"
                  required
                  [(ngModel)]="model.content">
              <div class="input-group-append">
                  <button [disabled]="!commentForm.valid || loading"  class="btn btn-primary" type="submit">Wyślij
                    <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                  </button>
              </div>
          </div>
      </form>
  </div>
</div>
