<nav>
  <div class="logo">Wyprzedaż garażowa</div>
  <ul class="ul-left">
    <li><a routerLink="/">Strona Główna</a></li>
    <ng-container *ngIf="(accountService.currentUser$ | async)">
    <li>
      <a routerLink="/user-announcements">Twoje ogłoszenia</a>
      <ul>
        <li><a routerLink="/announcements-add" >Dodaj ogłoszenie</a></li>
      </ul>
    </li>
    <li *gsHasRole='["Admin", "Moderator"]'>
      <a routerLink="/user-announcements">Panel administracyjny</a>
      <ul>
        <li><a routerLink="/announcements-add">Akceptacja ogłoszeń</a></li>
        <li *gsHasRole='["Admin"]'>
          <a routerLink="/users">Użytkownicy</a>
        </li>
      </ul>
    </li>
  </ng-container>
  </ul>
  <ul class="ul-right">
    <ng-container *ngIf="(accountService.currentUser$ | async) as user">
      <div class="welcome">Witaj, {{user.firstName || user.userName | titlecase}}</div>
      <li>
        <a routerLink="/user-edit">Profil</a>
      </li>
      <li><a (click)="logout()">Wyloguj</a></li>
    </ng-container>
    <ng-container *ngIf="(accountService.currentUser$ | async) === null">
      <li><a routerLink="/login">Logowanie</a></li>
      <li><a routerLink="/register">Rejestracja</a></li>
    </ng-container>
  </ul>
</nav>
