/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

.btn-blue-style{
  height: 40px;
  width: 200px;
  border: 1px solid rgb(3, 163, 255);
  background: white;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(3, 163, 255);
  margin: 0 10px 10px 0;
  transition: 0.5s;
}

.btn-blue-style:hover{
  background: rgb(3, 163, 255);
  color: white;
  transition: .5s;
}

.btn-blue-style-clicked{
  background: rgb(3, 163, 255);
  color: white;
  transition: 0.5s;
}

.btn-red-style{
  height: 40px;
  width: 200px;
  border: 1px solid rgb(190, 42, 5);;
  background: white;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(253, 15, 15);
  margin: 0 10px 10px 0;
  transition: 0.5s;
}

.btn-red-style-clicked{
  background: rgb(190, 42, 5);
  color: white;
  transition: 0.5s;
}

.btn-red-style:hover{
  background: rgb(190, 42, 5);
  color: white;
  transition: .5s;
}

.btn-green-style{
  height: 40px;
  width: 200px;
  border: 1px solid;
  background: white;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(36, 155, 0);
  margin: 0 10px 10px 0;
  transition: 0.5s;
}

.btn-green-style-clicked{
  background: rgb(36, 155, 0);
  color: white;
  transition: 0.5s;
}

.btn-green-style:hover{
  background: rgb(36, 155, 0);
  color: white;
  transition: .5s;
}

.form-container{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border-bottom: solid 1px;
}
