<div class="form-group mb-2">
  <div>
    <label [ngStyle]="{'color': (ngControl.touched && ngControl.invalid) ? '#DC3545' : 'black'}">{{label}}:</label>
  </div>
  <input
      [class.is-invalid]="ngControl.touched && ngControl.invalid"
      type={{type}}
      class="form-control"
      [formControl]="ngControl.control">
  <div *ngIf="ngControl.control.errors?.['required']" class="invalid-feedback"> {{label}} jest wymagane </div>
  <div *ngIf="ngControl.control.errors?.['minlength']" class="invalid-feedback">
      {{label}} musi mieć przynajmniej {{ngControl.control.errors.minlength['requiredLength']}} znaków
  </div>
  <div *ngIf="ngControl.control.errors?.['maxlength']" class="invalid-feedback">
      {{label}} nie może mieć więcej niż {{ngControl.control.errors.maxlength['requiredLength']}} znaków
  </div>
  <div *ngIf="ngControl.control.errors?.['min']" class="invalid-feedback">
    {{label}} musi miec przynajmniej {{ngControl.control.errors.min['min']}} godzin
  </div>
  <div *ngIf="ngControl.control.errors?.['max']" class="invalid-feedback">
    {{label}} nie może mieć więcej niż {{ngControl.control.errors.max['max']}} godzin
  </div>
  <div *ngIf="ngControl.control.errors?.['isMatching']" class="invalid-feedback">
      Hasła się nie zgadzają!
  </div>
  <div *ngIf="ngControl.control.errors?.['pattern']" class="invalid-feedback">
      Hasło musi składać się z liczb, dużych i małych liter oraz znaków specjalnych
</div>
</div>
