<div class="announcement-container">
  <div class="announcement-card">
    <div class="description">
        <h6 class="">
            {{announcement.name}}
        </h6>
        <p>{{announcement.description}}</p>
    </div>
    <div class="description">
      <h6 class="">
          Informacje o wyprzedaży
      </h6>
      <p>Organizator: {{announcement.user.firstName}} {{announcement.user.lastName}}</p>
      <p>Start: {{announcement.startDate | date:'d/M/yy, h:mm a' }}</p>
      <p>Czas trwania: {{announcement.duration}} godziny</p>
      <p>Adres: {{announcement.address.street}}, {{announcement.address.province}} {{announcement.address.city}}</p>
    </div>
    <div class="photo">
      <img src="{{announcement.photoUrl || './assets/no_photo.jpg'}}" alt="{{announcement.name}}" class="card-img-top">
    </div>
  </div>
  <button routerLink="/user-announcements/{{announcement.id}}/edit" class="btn-blue-style btn-own-style">Edytuj</button>
  <button (click)="deleteAnnouncement(announcement)" class="btn-red-style btn-own-style">Usuń</button>
</div>


