<div class="announcement-container">
  <div class="announcement-card">
    <div class="description">
        <h3 class="">
            {{announcement.name}}
        </h3>
        <div class="info-row">
          <label>Start:</label>
          <a> {{announcement.startDate | date:'d/M/yy, h:mm a' }}</a>
        </div>
        <div class="info-row">
          <label>Czas trwania:</label>
          <a> {{announcement.duration}} godziny</a>
        </div>
    </div>
    <div class="description">
      <div class="info-row">
        <label>Adres:</label>
        <a> {{announcement.address.street}}</a>
      </div>
      <div class="info-row">
        <label>Miasto:</label>
        <a> {{announcement.address.city}}</a>
      </div>
      <div class="info-row">
        <label>Województwo:</label>
        <a> {{announcement.address.province}}</a>
      </div>
    </div>
    <div class="photo">
      <img src="{{announcement.photoUrl || './assets/no_photo.jpg'}}" alt="{{announcement.name}}" class="card-img-top">
    </div>
  </div>
  <button routerLink="/user-announcements/{{announcement.id}}/edit" class="btn-blue-style btn-own-style">Edytuj</button>
  <button (click)="deleteAnnouncement(announcement)" class="btn-red-style btn-own-style">Usuń</button>
</div>

