<div class="announcement-card">
  <div class="">
      <img src="{{announcement.photoUrl || './assets/user.png'}}" alt="{{announcement.name}}" class="card-img-top">
  </div>
  <div class="">
      <h6 class="">
          {{announcement.name}}, {{announcement.startDate | date:'d/M/yy, h:mm a' }} -  {{endDate | date:'d/M/yy, h:mm a' }}
      </h6>
      <p>{{announcement.description}}</p>
      <p>{{announcement.address.street}}, {{announcement.address.postalCode}} {{announcement.address.city}}</p>
  </div>
</div>
