<div class="login-page">
  <h1>Logowanie</h1>
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <div class="txt-field">
      <input name="username" [(ngModel)]="model.username" class="" type="text" required>
      <span></span>
      <label>Login</label>
    </div>
    <div class="txt-field">
      <input name=password [(ngModel)]="model.password" type="password" required>
      <span></span>
      <label>Hasło</label>
    </div>
    <input type="submit" value="Zaloguj">
    <div class="signup-link">
      Nie masz konta? <a routerLink="/register">Rejestracja</a>
    </div>
  </form>
</div>
