.login-form{
  max-width: 500px;
  background-color: white;
  border-radius: 6px;
  border-bottom: 1px solid;
  padding: 30px;
}

button{
  margin-top: 20px;
  min-width: 100px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
}


button[disabled]{
  transition: 0.5s;
  border: 1px solid #999999;
  background-color: #dadada;
  color: #666666;
  cursor: default;
}

.signup-link{
  margin: 10px;
  text-align: center;
  font-size: 16px;
}

.signup-link a{
  color: #0D6EFD;
  text-decoration: none;
}

.signup-link a:hover{
  text-decoration: underline;
}
