<div class="row justify-content-center form-container">
  <div class="col-4">
    <form [formGroup]="announcementForm" (ngSubmit)="announcementForm.valid && saveAnnouncement()" autocomplete="off">

      <gs-text-input [formControl]='announcementForm.controls["name"]' [label]='"Nazwa ogłoszenia"'></gs-text-input>
      <gs-text-input-area [formControl]='announcementForm.controls["description"]' [label]='"Opis"'></gs-text-input-area>

      <mat-form-field style="width: 100%;">
        <input matInput [ngxMatDatetimePicker]="picker" [formControl]='announcementForm.controls["startDate"]' placeholder="Data i godzina wydarzenia"
          [min]="minDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
      </mat-form-field>

      <gs-text-input [formControl]='announcementForm.controls["duration"]' [label]='"Czas trwania \(godziny\)"' [type]='"number"'></gs-text-input>

      <div class="form-group mb-2">
        <label class="control-label" style="margin-right: 10px; font-weight: 600;">Adres:</label>
        <label class="radio-inline">
          <input type="radio" name="address" value="empty_address" (click)="setEmptyAddress()" checked> Nowy adres
        </label>
        <label class="radio-inline">
          <input type="radio" name="address" value="user_address" (click)="setUserAddress()" [disabled]="!userOfAccount?.address" class="ms-3"> Adres użytkownika
        </label>
      </div>

      <div formGroupName="address">
        <gs-text-input formControlName="street" [label]='"Ulica i nr domu/mieszkania"'></gs-text-input>
        <gs-text-input formControlName="city" [label]='"Miejscowość"'></gs-text-input>
        <gs-text-input formControlName="province" [label]='"Województwo"'></gs-text-input>
      </div>

      <div class="form-group text-center">
        <button [disabled]="!announcementForm.valid" id="btn-submit" class="btn btn-success me-2" type="submit" onclick="this.blur()">{{btnSubmitText}}</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <gs-announcement-photos [announcement]="announcement"></gs-announcement-photos>
  </div>
</div>


