<div *ngIf="announcements">
  <h2 class="text-center text-primary mb-5">Ogłoszenia do akceptacji</h2>
  <div *ngIf="announcements?.length <=0">
    <h2 class="text-center text-primary mt-5 mb-5">Brak ogłoszeń</h2>
  </div>
  <div *ngIf="announcements?.length > 0">
    <h2 class="text-center text-primary mt-5 mb-5">Liczba wyników - {{pagination?.totalItems}}</h2>
  </div>
  <div class="" *ngFor="let announcement of announcements">
    <gs-announcement-admin-card
      [announcement]="announcement"
      (parentDeleteAnnouncement)="deleteAnnouncement(announcement)"
      (parentChangeStatusActiveOfAnnouncement)="changeStatusActiveOfAnnouncement(announcement)"
      (parentChangeStatusAcceptedOfAnnouncement)="changeStatusAcceptedOfAnnouncement(announcement)">
    </gs-announcement-admin-card>
  </div>

  <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
  </div>
</div>
