<div *ngIf="announcements">
  <h2 class="text-center text-primary mb-5">Twoje ogłoszenia</h2>
  <div class="form-group text-center mt-4">
    <button class="btn-blue-style" [ngClass]="btn1 ? 'btn-blue-style-clicked' : 'btn-blue-style'" (click)="loadActiveAnnouncements()">Aktywne</button>
    <button class="btn-blue-style" [ngClass]="btn2 ? 'btn-blue-style-clicked' : 'btn-blue-style'" (click)="loadAnnouncementsToAccept()">Do akceptacji</button>
    <button class="btn-blue-style" [ngClass]="btn3 ? 'btn-blue-style-clicked' : 'btn-blue-style'" (click)="loadUnactiveAnnouncements()">Nieaktywne</button>
  </div>
  <div *ngIf="announcements?.length <=0">
    <h2 class="text-center text-primary mt-5 mb-5">Brak ogłoszeń</h2>
  </div>
  <div *ngIf="announcements?.length > 0">
    <h2 class="text-center text-primary mt-5 mb-5">Liczba wyników - {{pagination?.totalItems}}</h2>
  </div>
  <div class="" *ngFor="let announcement of announcements">
    <gs-announcement-manage-card
      [announcement]="announcement"
      (parentDeleteAnnouncement)="deleteAnnouncement(announcement)"
      (parentChangeStatusActiveOfAnnouncement)="changeStatusActiveOfAnnouncement(announcement)"
      (parentChangeStatusAcceptedOfAnnouncement)="changeStatusAcceptedOfAnnouncement(announcement)">
    </gs-announcement-manage-card>
  </div>

  <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
  </div>
</div>
