<div *ngIf="announcement?.photos.length >= 1" class="row mb-4">
  <div class="col-4 mb-2" *ngFor="let photo of announcement?.photos">
    <img class="img-thumbnail p-1" (click)="showPhoto(photo.url)" src="{{photo.url}}" alt="{{photo.url}}">
    <div class="text-center">
      <button [disabled]="photo.isMain" (click)="setMainPhoto(photo)" [ngClass]='photo.isMain ? "btn-success active" : "btn-outline-success"' class="btn btn-sm me-2">
        Główne
  </button>
      <button class="btn btn-sm btn-danger" (click)="deletePhoto(photo.id)"> <i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>


<div class="" style="margin-bottom: 40px;">
  <div class="mb-2">
    <input type="file" id="file-upload" ng2FileSelect [uploader]="uploader" [disabled]="fileInput" />
    <label for="file-upload" class="custom-file-upload" (click)="firstSaveForm()">
      <img class="fileSelectImg" src="/assets/fileSelection.png" alt="File selection">
      Wczytaj zdjęcie
    </label>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Rozmiar</th>
        <th>Akcja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td nowrap>
          <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Usuń
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <div *ngIf="uploader?.queue?.length">
      Pasek ładowania:
      <div class="progress mb-2">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-s me-2" (click)="uploader.uploadAll()"
      [disabled]="!uploader.getNotUploadedItems().length">
      <span class="fa fa-upload"></span> Prześlij wszystkie
    </button>
    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
      [disabled]="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> Usuń wszystkie
    </button>
  </div>

</div>
